.review-products {
    border: 1px solid #95A0A7;
    border-radius: 8px;
    width: 571px;
margin: 20px;
padding: 8px;
display: flex;
align-items: center;
}

.product-price{
    font-weight: 400;
font-size: 21px;
line-height: 25px;
letter-spacing: 0.0015em;
}

.review-text{
    flex-grow: 1;
}

.review-text p{
    margin: 0 15px;
}

.orange-text{
    color: orange;
}

.review-products img{
    height: 91px;
    width: 91px;
    border-radius: 7px;
}

.delete-btn{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: rgba(235, 87, 87, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-icon{
    font-size: 27px;
    color: #EB5757;
}